<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only" data-name="icon_close">Cerrar</span>
          </button>
        <h4 class="modal-title">Generar informe</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <label>Informe</label>
                    <textarea placeholder='Escriba aqui el informe' class='form-control'><%= informe %></textarea>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" name="save">Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" name="close">Cerrar</button>
        </div>
    </div>
</div>