<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center;margin-top: 20px">
    <i class="fa fa-desktop" style="font-size: 15em"></i>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" style='text-align: center'>
            <label>Usuario responsable</label>
            <select data-placeholder="Elige un usuario" name="user_asigned" class="chzn-select form-control">
                <% _.each(users, function(user){ %>
                <option value="<%= user.id %>" <% if (user_asigned == user.id) { %>selected=""<% } %>><%= user.nombre + ' ' + user.apellido %></option>
                <% }); %>
            </select>
            <span class="help-inline"></span>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top: 20px">
    <form role="form">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Serial</label>
                <input type="text" class="form-control" name="serial" value="<%= serial %>">
                <span class="help-inline"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Capacidad de disco duro (MB)</label>
                <input type="text" class="form-control" name="disco" maxlength="10" value="<%= disco %>">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Capacidad de memoria ram (MB)</label>
                <input type="text" class="form-control" name="ram" maxlength="10" value="<%= ram %>">
                <span class="help-inline"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Marca del procesador</label>
                <input type="text" class="form-control" name="proc_marca" value="<%= proc_marca %>">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Velocidad del procesador</label>
                <input type="text" class="form-control" name="proc_velocidad" value="<%= proc_velocidad %>">
                <span class="help-inline"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Modelo del procesador</label>
                <input type="text" class="form-control" name="proc_modelo" value="<%= proc_modelo %>">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Marca del monitor</label>
                <input type="text" class="form-control" name="mon_marca" value="<%= mon_marca %>">
                <span class="help-inline"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Pulgadas del monitor</label>
                <input type="text" class="form-control" name="mon_pulgadas" value="<%= mon_pulgadas %>">
                <span class="help-inline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Marca del teclado</label>
                <input type="text" class="form-control" name="teclado" value="<%= teclado %>">
                <span class="help-inline"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
                <label>Marca del mouse</label>
                <input type="text" class="form-control" name="mouse" value="<%= mouse %>">
                <span class="help-inline"></span>
            </div>
        </div>
    </form>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-bottom: 20px;margin-top: 20px">
    <p class="text-danger hidden" data-name="message_validation"></p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-bottom: 20px;margin-top: 20px">
    <button type="button" class="btn btn-info" name="save">Guardar</button>
    <button type="button" class="btn btn-danger" name="cancel">Cancelar</button>
</div>