html, body{
    height: 100%;
}
.wrap{
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.panels-book{
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    position:relative;
}

.shape-panel{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    background-color: rgba(0,0,0,0.8)
}
.shape-panel div{
    text-align:center;
    color:#FFFFFF;
}

.footer{
    height: 60px;
    background-color: #000000;
    text-align:center;
    padding-top:10px;
    color: #FFFFFF;
}

.footer a{
    margin-left: 4px;
    margin-right: 4px;
}

.navbar-default {
    background-color: blue !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px
}