<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only" data-name="icon_close">Cerrar</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Ver informaci&oacute;n del problema</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <i class="fa fa-asterisk" style="font-size: 20em;margin-top: 30px"></i>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>T&iacute;tulo:</label>
                            <p><%= titulo %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>Posible soluci&oacute;n:</label>
                            <p><%= resolucion %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" name="close">Cerrar</button>
        </div>
    </div>
</div>