<form role='form' method='POST'>
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12" style="text-align: center;">
        <% if (foto !== null && foto !== '') { %>
            <img src="<%= foto %>" style="max-width: 80%" alt="<%= nombre + ' ' + apellido %>"/>
        <% } else { %>
            <span class="glyphicon glyphicon-user" style="font-size: 20rem"></span>
        <% } %>
        <input type="hidden" name="_token" value="<%= token %>"/>
        <input type="file" name="file" style="visibility: hidden;position: absolute;top: -9999px;left: -9999px" autocomplete="off"/>
        <div style="text-align: left;padding-top: 5px;padding-bottom: 5px;">
            <p class="text-danger hidden"></p>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Cambiar imagen" name="change_image">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button type="submit" class="btn btn-success hidden" data-toggle="tooltip" data-placement="top" title="Subir imagen">
                <i class="glyphicon glyphicon-upload"></i>
            </button>
        </div>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Cedula:</label>
                <input type="text" name="cedula" class="form-control" maxlength="11" value="<%= cedula %>"/>
                <span class="help-inline"></span>    
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Nombre:</label>
                <input type="text" name="nombre" class="form-control" value="<%= nombre %>"/>
                <span class="help-inline"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Apellido:</label>
                <input type="text" name="apellido" class="form-control" value="<%= apellido %>"/>
                <span class="help-inline"></span>   
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Grupo:</label>
                <% if (rol == 1) { %><p>Administrador</p><% } %>
                <% if (rol == 2) { %><p>Jefe de Inform&aacute;tica</p><% } %>
                <% if (rol == 3) { %><p>T&eacute;cnico de inform&aacute;tica</p><% } %>
                <% if (rol == 4) { %><p>Usuario</p><% } %>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Clave:</label>
                <input class="form-control" type="password" name="password" value="" autocomplete="off"/>
                <span class="help-inline"></span>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group'>
                <label>Repetir Clave:</label>
                <input class="form-control" type="password" name="rpt_password" value="" autocomplete="off"/>
                <span class="help-inline"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-danger hidden" data-name="message_validation"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-success hidden" data-name="message_ok" style="font-size: 16px"></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group' style="text-align: center">
                <button class="btn btn-info" name="save_profile" type="button">Guardar cambios</button> 
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</form>